{% extends 'base.html' %}
{% block nav %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <ul class="navigation">
                <li class="nav-item col-lg-1">
                    <a href="{% url 'roles' %}" class="nav-link"><img src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678207335/roles-logo_hg8uqn.png" alt=""></a>
                </li>
                <li class="nav-item col-lg-1">
                    <a href="{% url 'operations' %}" class="nav-link"><img src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678207087/operations-logo_rycmoe.png" alt=""></a>
                </li>
                <li class="nav-item col-lg-1">
                    <a href="{% url 'supplies' %}" class="nav-link"><img src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678207136/supplies-logo_lzkytt.png" alt=""></a>
                </li>
                <li class="nav-item col-lg-1">
                    <a href="{% url 'moral' %}" class="nav-link"><img src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678207208/moral-logo_ha36yp.png" alt=""></a>
                </li>
                <li class="nav-item col-lg-1">
                    <a href="{% url 'howtoplayers' %}" class="nav-link"><img src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678207256/how-to-play-logo_h9dnol.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="section">
    <div id="img-container" class="container">
        <div class="row justify-content-center">
        </div>
    </div>
    <div id="text-container" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12" style="margin-bottom: 50px">
                <h3 class="script-titles">Welcome to the Siege</h3>
                <p class="script-text">
                    It has long been an established creciendo of the fantasy genre that ends the tale of the heroes within the grand tapestry of an epic battle.
                </p>
                <p class="script-text">
                    Countless beloved, Books, Films and video games lovingly pour their heart and soul into delevering grand battles of epic proportions and do their best to throw you into the choas.
                    But there has always been one medium that missus the mark, TTRPG's such as DnD and Pathfinder have always seemed to of struggled to deliver the real feel of a grand epic siege. And that is a travesty,
                    these games do an absolutly amazing job of throwing players into a writhing cauldron of magical moments from exploring the dark depths of the underdark, battling Lichs in their lairs to Demons in the abyss.
                    But when a DM wants to convey the gtreat war between rival kingdoms, The horde of Orcs flooding the city or the Lichs army of undead ravaging the land, the systems start to struggle.
                </p>
                <p class="script-text">
                    These systems simply were not designed for that kind of battle field, and whilst there have been many very good attempts from many DM's to fix this, I feel like all still struggle to really show the scale and make the players feel that scale.
                </p>
                <p class="script-text">
                    So with that in mind I present my take on Sieges in DnD 5e. A completely new way to run Large scale battles that can be adapted by any DM to fit their story. With new mechanics that seek to enhance the game without taking away any aspect of DnD the game we all love.
                    Players can be as involved in the planning and preportaion as they like through the introduction of the Player Roles which can be reskinned in order to match your setting and your players. The operations allow for 
                    a real tactical element to the preporation to the battle and can be run in many different ways allowing a siege battle to be ran as a one shot or as multiple sessions of a campaign.
                    Also I have created a simple way of managing multiple different units allowing all the players at the table to get involved in different aspects of the battle be that commanding archers from the walls, Defending the gates from a breach or commanding the artellry, and finally a Moral system. 
                    Which I hope will help to deliver on that feel of scale and terror, but also provide that sense of accomplishment when you overcome horrible odds to emerge victorious.
                </p>
                <p class="script-text">
                    ---
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}