{% extends 'base.html' %}
{% block nav %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0;">
                <div class="container-fluid" style="min-height: 150px;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <img style="min-height: 175px;"
                            src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678968715/menu-high-resolution-logo-color-on-transparent-background_1_bsqaau.png"
                            alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="min-height: 150px;">
                        <ul class="navigation">
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'home' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969194/home-high-resolution-logo-color-on-transparent-background_gbyzvh.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'roles' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678968957/roles-high-resolution-logo-color-on-transparent-background_plqglf.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'operations' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969003/operations-high-resolution-logo-color-on-transparent-background_rylyzc.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'supplies' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969047/supplies-high-resolution-logo-color-on-transparent-background_xhqnc5.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'howtoplayers' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969140/how-to-play-high-resolution-logo-color-on-transparent-background_gccamb.png"
                                        alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container text-center" style="margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="script-text">
                Each Army will have a Moral score which at the start of the game will be at 100%. If during the
                preparation stage you decide to split the army for example:
                You are defending a fort with 2 gates so you split your army 50/50 over each gate. These groups now have
                their own moral score of 100%. As well as a total army moral score.
                If group 1 gets a moral reduction of 10% then the over all army moral drops by 5%.</p>

            <p class="script-text">
                If a groups health % drops below the inverse of their moral score they will begin to retreat.
                For example. A group with 90% moral will have to drop to 10% health before they retreat.
                A group with just 10% moral will only have to drop to 90% health before they retreat.</p>

            <p class="script-text">If moral is dropped to 0% the unit will attempt to flee the battle entirely
                If total moral is dropped to 0% all units will flee</p>
            <p class="script-text">During the battle different events will increase or reduce moral. At the end of each players turn the
                events will be added up and the moral of the army will be changed if applicable.</p>

            <h4 class="script-text">These conditions are:</h4>
            <ul>
                <li class="script-text">Outnumbered -1%</li>
                <li class="script-text">Flanked -3%</li>
                <li class="script-text">Presence of enemy commander -2%</li>
                <li class="script-text">Presence of enemy knights -1%</li>
                <li class="script-text">Commander Crits -1%</li>
                <li class="script-text">Commander Missed attacks -1%</li>
                <li class="script-text">Failed saving throws -1%</li>
                <li class="script-text">Civillian Death -5%</li>
                <li class="script-text">Commander Death -7%</li>
                <li class="script-text">Siege Commander Death -10%</li>
            </ul>
            <p class="script-text">If you impose these conditions on the enemy you will increase your moral by the same score.</p>

            <p class="script-text">Finally certain seige ops may raise or reduce the total moral of your army and the enemies to potentially
                raise your moral over or put it under 100% before the start of the battle.</p>
            <p class="script-text">
                It will be up to the siege commander to keep an eye on the moral during the battle and make decisions to
                best combat the effects of negative moral.
                For this reason the siege commander will always go first in the turn order during the siege.
            </p>
        </div>
    </div>
</div>
{% endblock %}