{% extends 'base.html' %}
{% block nav %}
<div class="container text-center">
	<div class="row justify-content-center">
		<div class="col-xl-12">
			<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0;">
				<div class="container-fluid" style="min-height: 150px;">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
						aria-label="Toggle navigation">
						<img style="min-height: 175px;"
							src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678968715/menu-high-resolution-logo-color-on-transparent-background_1_bsqaau.png"
							alt="">
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="min-height: 150px;">
						<ul class="navigation">
							<li class="nav-item col-lg-1">
								<a href="{% url 'home' %}" class="nav-link"><img
										src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969194/home-high-resolution-logo-color-on-transparent-background_gbyzvh.png"
										alt=""></a>
							</li>
							<li class="nav-item col-lg-1">
								<a href="{% url 'operations' %}" class="nav-link"><img
										src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969003/operations-high-resolution-logo-color-on-transparent-background_rylyzc.png"
										alt=""></a>
							</li>
							<li class="nav-item col-lg-1">
								<a href="{% url 'supplies' %}" class="nav-link"><img
										src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969047/supplies-high-resolution-logo-color-on-transparent-background_xhqnc5.png"
										alt=""></a>
							</li>
							<li class="nav-item col-lg-1">
								<a href="{% url 'moral' %}" class="nav-link"><img
										src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969093/moral-high-resolution-logo-color-on-transparent-background_walciw.png"
										alt=""></a>
							</li>
							<li class="nav-item col-lg-1">
								<a href="{% url 'howtoplayers' %}" class="nav-link"><img
										src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969140/how-to-play-high-resolution-logo-color-on-transparent-background_gccamb.png"
										alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="section over-hide">
	<div id="role-container" class="container">
	    <div class="row full-height justify-content-center">
			<div class="accordian accordion-flush">
                <div class="accordian-item">
                    <h3 class="accordian-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <h1 class="script-titles accordian-click">Basic Commander Actions During Combat</h1>
                        </button>
                    </h3>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h1 class="script-titles">Your Actions, Moving Battalions and Battalion Actions</h1>
                            <p class="script-text">
                                You as a player can act normally on every turn, doing everything you would normally do when playing DnD. When you have taken a role you will gain an special ability that costs a Bonus action and that can be used once per battle.
								Further more when leading Battalions all orders are seen as 'free actions' The units will carry out any orders given at the end of your turn. You may order troops to move, attack and take a bonus action all on one turn.
								The specific Actions, bonus actions and movement speeds are found in the Supplies section. Players leading multiple battalions can order all battalions under their command on a single turn. The Siege Commander can order any Battalions that are without a player leading them on their turn.
								Siege commanders may also order other players battalions on the same turn but may only order them to move. Should they do this the battlion will move immedietly and be no longer under the command of the player. This battalion may not take an action or bonus action until the siege commanders next turn.
								A Siege commander may move battalions into the command of another player, as long as the unit is within 30ft of that player. However a batllion can not leave and join a player on the same turn.
							</p>
							<h1 class="script-titles">Splitting Battalions</h1>
							<p class="script-text"> 
								You may decide to split up a battalion such as splitting a battalion of 20 Infantry points to 2 Battalions of 10. All commanders including the Siege commander may only split 1 Battalion per turn and can split that battalion into a maximum of 3 smaller battalions This can be done at the start of the turn. 
								A split Battalion retains the moral score of the Battalion it was once a part of. If the Battalion that was split by the Siege Commander was under the command of a player the new battalions retain that command unless moved by the Siege Commander. 
								When merging Battalions they must be next to eachother (within 5ft), Battalions lead by different players may not merge. When merging Battalions the moral of the new battalion equals the battalion that ahad the bigger moral score.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% for role in role_list %}
	        <div class="col-xl-4 text-center align-self-center py-5">
                <div class="section text-center py-5 py-md-0">
	                <input class="pricing" type="checkbox" id="{{ role.title }}btn" name="pricing" />
	                <label for="{{ role.title }}btn"><span class="block-diff block-diff-role">Role<span
	                            class="float-right-role">Detail</span></span></label>
	                <div class="card-3d-wrap mx-auto">
	                    <div class="card-3d-wrapper">
                            <div class="card-front">
	                            <div class="pricing-wrap">
	                                <h4 class="mb-5" style="color: rgb(250, 94, 3);">{{ role.title }}</h4>
	                                <h5 class="mb-2 script-text">Their Role</h5>
	                                <p class="mb-4">{{ role.description | safe }}</p>
	                                <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
	                                <div class="img-wrap img-2">
                                        <img src="{{ role.cover_image.url }}" alt="">
	                                </div>
	                                <div class="img-wrap img-1">
	                                    <img src="" alt="">
	                                </div>
	                                <div class="img-wrap img-3">
	                                    <img src="" alt="">
	                                </div>
	                                <div class="img-wrap img-6">
	                                    <img src="" alt=""> <!--https://assets.codepen.io/1462889/Stone.png-->
                                    </div>
	                            </div>
	                        </div>
	                        <div class="card-back">
	                            <div class="pricing-wrap">
	                                <h4 class="mb-5" style="z-index: 10; color: rgb(250, 94, 3);">{{ role.title }}</h4>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h3 class="mb-2 script-text">Operation Options:</h3>
                                                {% for operation in role.operation_options.all %}
                                                <h5 class="mb-2 script-text">{{ operation }}</h5>
                                                {% endfor %}
                                            </div>
                                        </div>
										<div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <h3 class="mb-2 script-text">Special Ability:</h3>
                                                <p class="script-text">{{ role.ability }}</p>
                                            </div>
                                        </div>
                                    </div>
	                                <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
	                                <div class="img-wrap img-2">
	                                    <img src="https://res.cloudinary.com/duijsqmts/image/upload/v1678199804/fnpblcwwrojrtg45kwgy.jpg" alt="">
	                                </div>
	                                <div class="img-wrap img-4">
	                                    <img src="" alt="" style="z-index: 5;">
	                                </div>
	                                <div class="img-wrap img-5">
	                                    <img src="" alt="">
                                    </div>
	                                <div class="img-wrap img-7">
	                                    <img src="" alt="">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
            {% endfor %}
        </div>
	</div>
</div>
{% endblock %}