{% extends 'base.html' %}
{% block nav %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-xl-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0;">
                <div class="container-fluid" style="min-height: 150px;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <img style="min-height: 175px;"
                            src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678968715/menu-high-resolution-logo-color-on-transparent-background_1_bsqaau.png"
                            alt="">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="min-height: 150px;">
                        <ul class="navigation">
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'home' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969194/home-high-resolution-logo-color-on-transparent-background_gbyzvh.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'roles' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678968957/roles-high-resolution-logo-color-on-transparent-background_plqglf.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'operations' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969003/operations-high-resolution-logo-color-on-transparent-background_rylyzc.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'howtoplayers' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969140/how-to-play-high-resolution-logo-color-on-transparent-background_gccamb.png"
                                        alt=""></a>
                            </li>
                            <li class="nav-item col-lg-1">
                                <a href="{% url 'moral' %}" class="nav-link"><img
                                        src="https://res.cloudinary.com/duijsqmts/image/upload/c_scale,w_200/v1678969093/moral-high-resolution-logo-color-on-transparent-background_walciw.png"
                                        alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="section">
	<div id="container" class="container" style="margin-bottom: 75px;">
	    <div class="row full-height justify-content-center">
            <div class="accordian accordion-flush">
                <div class="accordian-item">
                    <h3 class="accordian-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <h1 class="script-titles accordian-click">How Materials and Units Work</h1>
                        </button>
                    </h3>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h1 class="script-titles">Materials</h1>
                            <p class="script-text">
                                Supplies are self explanitory, the majority highlighted below are the materials needed
                                to complete certain opertaions. the only exceptions to this are Siege equipment and
                                ammunitions.
                                These are not only needed for certain operations such as enchant weapons and armour but
                                also will have a key function in the battle itself.
                            </p>
                            <p class="script-text">
                                Each operation will have a supply score that needs to be met in order for the operation
                                to be ran. The supply score can be made up of any of the materials named in the supply
                                list on the opertaion card.
                                For Example Reinforcing walls and gates, the supply score needed is 70, and the
                                materials in the list are, Stone, Wood, Metal and misc. Meaning you may use 70 points of
                                stone to complete the operation. Or
                                you may use 20 points of stone, 20 points of Wood, 20 points of metal and 10 points of
                                Misc.
                            </p>
                            <h1 class="script-titles">Units</h1>
                            <p class="script-text">
                                Units have a couple of key roles within the Siege. In the preperation stage these units
                                are your gold, you need certain units to run certain operations. Some operations will
                                take units out of
                                use for several days so managment is key. In every operation there is a unit score this
                                works exactly the same as the supply score. You have to meet the unit score using the
                                units in the List. These units will then be
                                busy until the operation is complete.
                            </p>
                            <h5 class="script-text">Unit Health</h5>
                            <p class="script-text">
                                All units have a score which represents how many of that unit are available to you. 1
                                point = 10 units, so for example we have an Infantry score of 40 then we have 400
                                Infantry soldiers. This is true for all
                                units except specialists. 1 = 1 when it comes to them. We calculate the health of a
                                Battalion by multiplying their unit score by their health, each type of unit has its
                                health per unit point as shown in their card.
                                For example if we take our 40 points of infantry which represents 400 soldiers. 1 Infantry
                                Unit Point has 30hp, so we times 40 by 30 to get a maximum health of 1200hp for all our
                                troops. If we split our infantry to cover 2 fronts both Battalions will have 600hp.
                                if we want to send 50 soldiers or 5 infantry points to protect the civillains taking
                                cover then they would have a total health of 150hp.
                            </p>
                            <h5 class="script-text">How units Attack</h5>
                            <p class="script-text">
                                Each type of unit also has their own actions and bonus actions as shown in their cards.
                                In order to keep combat quick and easy to follow battalions do not roll to hit, instead
                                they roll damage dependant on their size and the opposing force makes saving throws to
                                reduce the losses.
                                The DC of the saving throw is 1.5x the unit score. For example we send 100 Archers to
                                man a wall (10 Archer points), They fire a volley at an opposing battalion, that
                                battalion will make a a DC 15 dexterity saving throw (10 x 1.5). If we sent 200 archers
                                to the wall the DC would be 30.
                            </p>
                            <p class="script-text">
                                The Saving throw modifiers shown on the cards are the Dex and Con modifiers for a group
                                with a unit score of 10. for every additional 5 points the Con mod increases by 1 and
                                the Dex mod decreases by 1. A Battalion with a unit score of 5 or less increases their
                                Dex mod by 1 and reduces there Con mod by 1.
                            </p>
                            <p class="script-text">
                                Infantry and archers may not be part of the same battalion however a battalion of
                                infantry may be stationed with a battalion of archers in cases where the you want the
                                infantry to keep the enemy away from your ranged units.
                                In these situations should they come under fire the damage is split over the two groups
                                by their ratio both then make saving throws in order to save from their portion of the
                                damage. For example 2 Infantry units are protecting 8 Archer units, a volley fired at
                                them deals 80 points of damage. that damage is split
                                16 points to the Infanty and 64 points to the Archers.
                                Knights and spell casters however can be placed within battalions of infantry or archers. In order to utilise their bonus actions. The Damage dealt
                                to a battalion with a knight or spell caster unit in it is also split between the ratio of them and the battalion they are embedded in. The knights or spell casters must make
                                separate saving throws. So in our example earlier lets say 1 Knight unit is within the infantry. We have a Ratio of 1-3 so the 16 points of damage is split 11 points to the infantry and 5 to the knights.
                                In cases where a Damage requires rounding, Round up for the unit that makes up the majority and down for the other.
                            </p>
                            <p class="script-text">
                                A battalions Damage output is based on the number of units that make it up. On each unit
                                card it will say their base damage per 1 unit. For example for the infnatry this is 2d8.
                                Therefore when we build our battalions and send 10 infantry units to guard the gate that
                                battalion would deal 20d8 on its turn.
                            </p>
                            <p class="script-text">
                                A key thing to remember is that it is vitally important to keep track of your Battalions
                                health per unit. As Damage is calculated by the amount of units in a battalion. For
                                example A Battalion made up of 10 units or 100 soldiers. In the beginning this
                                battaliion would deal 40d4 as stated above.
                                However as this unit takes damage is damage output is also going to drop. Lets take the
                                a volley again that deals 90 damage. that would take out 3 Units dropping the damage
                                output of our next attack by 6d8. now if that volley dealt 110 damage we would still
                                loose 6d8. Infantry have a unit health of 30. for every 30hp we loose, we loose 12d4. so
                                only when that attack deals 120 damage do we loose the next 4d4.
                            </p>
                            <p class="script-text">
                                Battalions of units may also only attack enemy siege equipment, defences and other
                                battalions. In some circumstances the DM may allow battalions to attack specialsts. I
                                would allow this, if for instance a lich has rasied a Draco lich, the lich as a
                                commander could not be targetted but the Draco Lich as a very large specialst could.
                            </p>
                            <p class="script-text">
                                Finally Battalions act at the end of the commanders turn that is leading them as those
                                commanders have a free action to command their battalions. If no commander is leading
                                them then the Siege commander can give them orders at the end of their turn.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordian accordion-flush">
                <div class="accordian-item">
                    <h3 class="accordian-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h1 class="script-titles accordian-click">Unit Tables</h1>
                        </button>
                    </h3>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h1 class="script-titles">Key Information</h1>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Infantry</th>
                                    <th scope="col">Archers</th>
                                    <th scope="col">Knights</th>
                                    <th scope="col">Spell Casters</th>
                                    <th scope="col">Builders</th>
                                    <th scope="col">Civs</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Health per 1 Unit score</th>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>100</td>
                                    <td>80</td>
                                    <td>10</td>
                                    <td>10</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Speed</th>
                                    <td>30ft</td>
                                    <td>30ft</td>
                                    <td>30ft</td>
                                    <td>30ft</td>
                                    <td>Look at Specific Siege engine for Speeds</td>
                                    <td>50ft</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Damage output per 1 Unit score</th>
                                    <td>4d4</td>
                                    <td>2d6 / 2d4</td>
                                    <td>6d4</td>
                                    <td>3d6 (increases with stacks)</td>
                                    <td>0 unless manning a Siege engine</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Range</th>
                                    <td>5ft</td>
                                    <td>150/600 / 5ft</td>
                                    <td>5ft</td>
                                    <td>150ft</td>
                                    <td>Look at Specific Siege engine for range</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Minimum Battalion Size</th>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">DC Formula</th>
                                    <td>1.5 x Battalion Unit Score</td>
                                    <td>1.5 x Battalion Unit Score</td>
                                    <td>10 x Battalion Unit Score + 5</td>
                                    <td>10 x Battalion Unit Score + 5</td>
                                    <td>DC 18 Dex Save if equiping a Siege engine</td>
                                    <td>0</td>
                                  </tr>
                                </tbody>
                              </table>
                            <h1 class="script-titles">Saving Throws</h1>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Ability</th>
                                    <th scope="col">Infantry</th>
                                    <th scope="col">Archers</th>
                                    <th scope="col">Knights</th>
                                    <th scope="col">Spell Casters</th>
                                    <th scope="col">Builders</th>
                                    <th scope="col">Civs</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Dexterity - Unit Score 1-5</th>
                                    <td>+3</td>
                                    <td>+4</td>
                                    <td>+2</td>
                                    <td>+2</td>
                                    <td>+2</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Constitution - Unit Score 1-5</th>
                                    <td>+1</td>
                                    <td>0</td>
                                    <td>+2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Dexterity - Unit Score 6-10</th>
                                    <td>+2</td>
                                    <td>+3</td>
                                    <td>+1</td>
                                    <td>+1</td>
                                    <td>+1</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Constitution - Unit Score 6-10</th>
                                    <td>+2</td>
                                    <td>+1</td>
                                    <td>+3</td>
                                    <td>+1</td>
                                    <td>+1</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Dexterity - Unit Score 11-15</th>
                                    <td>+1</td>
                                    <td>+2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Constitution - Unit Score 11-15</th>
                                    <td>+3</td>
                                    <td>+2</td>
                                    <td>+4</td>
                                    <td>+2</td>
                                    <td>+2</td>
                                    <td>0</td>
                                  </tr>
                                </tbody>
                            </table>
                            <h1 class="script-titles">Siege Equipment</h1>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Ballista</th>
                                    <th scope="col">Catapult</th>
                                    <th scope="col">Trebuchet</th>
                                    <th scope="col">Ram</th>
                                    <th scope="col">Siege Tower</th>
                                    <th scope="col">Ladders</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Health per 1 Unit score</th>
                                        <td>150</td>
                                        <td>150</td>
                                        <td>150</td>
                                        <td>250</td>
                                        <td>500</td>
                                        <td>n/a</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Speed</th>
                                        <td>30ft</td>
                                        <td>30ft</td>
                                        <td>15ft</td>
                                        <td>30ft</td>
                                        <td>20ft/30ft when pushed by a Huge creature</td>
                                        <td>30ft</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Damage output</th>
                                        <td>4d10</td>
                                        <td>5d12</td>
                                        <td>7d12</td>
                                        <td>4d10</td>
                                        <td>n/a</td>
                                        <td>n/a</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Range</th>
                                        <td>200/700</td>
                                        <td>250/800</td>
                                        <td>400/1000</td>
                                        <td>5ft</td>
                                        <td>n/a</td>
                                        <td>n/a</td>
                                      </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% for sup in supply_list %}
        {% if sup.supply != 'None Required' %}
        <div class="sup-col col-lg-3" ontouchstart="this.classList.toggle('hover');">
            <div class="sup-container">
                <div class="sup-front" style='background-image: url(https://res.cloudinary.com/duijsqmts/image/upload/v1678270785/15d660578da68731ff5c793498534f89_rhy7nl.jpg)'>
                    <div class="sup-inner script-text">
                        <p class="script-text">{{ sup.supply }}</p>
                    </div>
                </div>
                <div class="sup-back" style="overflow-y: scroll; height: 280px;">
                    <div class="sup-inner script-text">
                        <div class="container script-text" style="max-height: 280px;">
                            <p class="script-text">{{ sup.description | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for unit in unit_list %}
        <div class="sup-col col-lg-3" ontouchstart="this.classList.toggle('hover');">
            <div class="sup-container">
                <div class="sup-front" style="background-image: url(https://res.cloudinary.com/duijsqmts/image/upload/v1678270930/HD-wallpaper-army-princess-whip-spears-cape-artwork-fantasy_ptar9o.jpg)">
                    <div class="sup-inner script-text">
                        <p class="script-text">{{ unit.occupation }}</p>
                    </div>
                </div>
                <div class="sup-back" style="overflow-y: scroll; height: 280px;">
                    <div class="sup-inner script-text">
                        <div class="container script-text" style="max-height: 280px;">
                            <p class="script-text">{{ unit.description | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}